:root {
    --primary-color: #ffbf9c !important; 
    --secondary-color: #ff7878 !important; 
    --accent-color: #ff6060 !important; 
    --background-color: #ffd1bc !important;  
    --text-color: #292929 !important;
}

footer {
    background-color: var(--accent-color);
    color: var(--background-color);
    font-weight: bold;
    margin-top: auto;    
    padding-top: 1em;    
    padding-bottom: 1em;    
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 1rem;
    
    width: auto;
    height: 3rem;
    box-sizing: border-box;
    border: 0.2rem solid var(--primary-color);
    box-shadow: 0rem 0rem 2rem 0.8rem var(--secondary-color);
    border-bottom: none;
    border-radius: 0.8rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;   
}

.fa-message{
    scale: 90%;
    color: var(--background-color);
}

.banner-print{
    display: none;
}