:root {
    --primary-color: #ff8324; /* Albastru principal */
    --secondary-color: #2A9D8F; /* O nuanță mai deschisă de albastru */
    --accent-color: #2f1905; /* Galben auriu pentru contrast */
    --background-color: #0d0e0e; /* Gri foarte deschis pentru fundal */
    --text-color: #ffffff; /* Gri închis pentru text */
}

footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-weight: bold;
    margin-top: auto;    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 3rem; 
    box-sizing: border-box;
    border-top: 0.2rem solid var(--accent-color);
    border-radius: 0.8rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;   
}

.fa-message{
    position: absolute;
    right:3.5%;
    color: var(--background-color);
}