:root {
    --primary-color: #ffbf9c !important; 
    --secondary-color: #2A9D8F !important; 
    --accent-color: #ff8324 !important; 
    --background-color: #0b0b0b !important; 
    --text-color: #e7f6f6 !important;
}

.container {
    display: grid;
    margin-top: 3vh;
    margin-bottom: 3vh;
    gap: 0.5%;
    
    grid-template-columns: repeat(4,minmax(5vh,1fr));
    grid-template-rows: repeat(5,minmax(10vh,1fr));
    grid-template-areas:
        "zona1 zona1 zona1 zona1"
        "zona2 zona2 zona8 zona8"
        "zona3 zona6 zona8 zona8"
        "zona5 zona6 zona8 zona8"
        "zona5 zona4 zona4 zona7";
    
    justify-content: center;
}

.container > div{
    padding: 3%;
    border-radius: 5%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: var(--secondary-color); */
}

.zona1 { 
    grid-area: zona1;
    overflow: hidden;
}

.zona2 {
    grid-area: zona2;
    overflow-x: auto;
    border:  6px inset var(--secondary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}
th, td {
    border: 1px solid white;
    padding: 0.1rem;
    text-align: center;
}
thead {
    background-color: var(--background-color);
}
tfoot {
    background-color: var(--background-color);
    font-weight: bold;
}
tbody tr:nth-child(even) {
    border-bottom: 5px solid var(--accent-color);
}
tbody tr:nth-child(odd) {
    border-bottom: 5px solid var(--secondary-color);
}
tbody tr:hover {
    outline: 5px solid rgba(225, 15, 166, 0.7);
    transition: outline 0.5s;
}

caption {
    caption-side: bottom;
    font-style: italic;
    margin-top: 1rem;
}

.PromoBig{
    display: inline-block;
    margin-bottom: 5vh;
    width: max(70%,80%); 
}

.zona3 { grid-area: zona3; }
.zona4 { grid-area: zona4; }
.zona5 { grid-area: zona5; }
.zona6 { grid-area: zona6; }
.zona7 { grid-area: zona7; }
.zona8 { grid-area: zona8; }
