:root {
  --primary-color: #ffbf9c !important; 
  --secondary-color: #2A9D8F !important; 
  --accent-color: #ff8324 !important; 
  --background-color: #0b0b0b !important; 
  --text-color: #e7f6f6 !important;
    
    --bar-width: 60px;
    --bar-height: 8px;
}

li,a,button{
    font-family: "Montserrat", Tahoma;
    font-weight: 600;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
}

header {    
    background: var(--accent-color);
    border-radius: 3rem;
    
    border: 0.5rem solid var(--primary-color);
    
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 2%;
  }
  
  .fa-solid{
    grid-area: user;
    scale: 150%;
    color: var(--background-color);
  }
  
  .logo{
    grid-area: logo;
    filter: invert();
    margin-right: -2rem;
    padding-bottom: 10px;
    cursor: pointer;
    display: block;
    max-width: 15vh;
    min-width: 0.5vh;
    max-height: 15vh;
    min-height: 0.5vh;
  }
  
  .hamburger > input{
    display: none;
  }
  
  .nav_links  {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
    list-style: none;
  }
  
  .nav_links li{
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem;
  }
  
  .nav_links li a{
    color: var(--background-color);
    font-weight: 900;
    transition: all 0.2s ease 0s;
  }
  
  .nav_links li a:hover{
    font-size: 25px;
    color: var(--primary-color);
    transition: all 0.2s ease 0s;
  }
  
  button{
    grid-area: contact;
    padding: 1em 2em 1em;
    margin: none;
    background-color: var(--background-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  button:hover{
    background-color: var(--primary-color);
    color:var(--background-color);
    transition: all 0.25s ease 0s;
  }