:root {
  --primary-color: #ffbf9c !important; 
  --secondary-color: #2A9D8F !important; 
  --accent-color: #ff8324 !important; 
  --background-color: #0b0b0b !important; 
  --text-color: #e7f6f6 !important;
    
    --bar-width: 60px;
    --bar-height: 8px;
}

li,a,button{
    font-family: "Montserrat", Tahoma;
    font-weight: 600;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
}

header {
    position: fixed;
    /* backgrouXd-color: red; */
    top: 3%;
    left: 5%;
    width: 90%;
    min-height: 90px;
    height: 11vh;
    padding-top: 15px;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 15px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-areas: "logo menu contact user";
    align-items: center;
    border-top: 5px solid var(--accent-color);
    border-bottom: 5.5em solid var(--primary-color);    
  }
  
  .fa-solid{
    grid-area: user;
    color: var(--background-color);
  }
  
  .logo{
    grid-area: "logo";
    filter: invert();
    padding-bottom: 10px;
    cursor: pointer;
    display: block;
    max-width: 15vh;
    min-width: 150px;
    max-height: 15vh;;
    min-height: 100px;
  }
  
  .hamburger > input{
    display: none;
  }
  
  .nav_links  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-area: "menu";
    list-style: none;
  }
  
  .nav_links li{
    display: inline-block;
    padding: 15px 50px 15px;
  }
  
  .nav_links li a{
    color: var(--background-color);
    font-weight: 900;
    transition: all 0.2s ease 0s;
  }
  
  .nav_links li a:hover{
    color: var(--accent-color);
  }
  
  button{
    grid-area: "contact";
    padding: 9px 25px 11px;
    background-color: var(--background-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  button:hover{
    background-color: var(--accent-color);
    color:var(--background-color);
    transition: all 0.25s ease 0s;
  }
  
  
@media (max-width:800px){
    header{
        display: grid;
        grid-template-areas: "logo menu";
        align-items: center;
        justify-content: space-between;
        border-top: 5px solid var(--accent-color);
        border-bottom: 6rem solid var(--primary-color);    
    }
    
    .nav_links{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: -100vh;
      right: 0;
      background-color: var(--background-color);
      
      list-style: none;
    }
    
    .nav_links li{
      position: relative;
      top: -3%;
      padding-top: 100px;
    }
    
    .nav_links li a{
      font-size: 30px;
    }
    
    .nav_links li a:hover{
      color: var(--secondary-color);
    }
    
    .hamburger input:checked ~ nav .nav_links{
      top: 0;
    }
    
    .hamburger:hover > input{
      background-color: var(--primary-color);
      opacity: 0.5;
    }
    
    .hamburger{
        grid-area: "menu";
        cursor: pointer;
    }    
    
    .hamburger > input{
      display: block;
      appearance: none;
      padding: none;
      margin: none;
      outline: none;
      pointer-events: none;
      
      content: "";
      width: 100px;
      height: 10px;
      border-radius: 15px;
      background-color: var(--background-color);
    }
   
    button{
        display: none;
    }
}