*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff8324 !important; 
    --secondary-color: #2A9D8F !important; 
    --accent-color: #fd8646 !important; 
    --background-color: #0b0b0b !important; 
    --text-color: #e7f6f6 !important;
}
/* test colors */

html {
    font-family: "Montserrat", Tahoma;
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
}

body {
    margin: 0;
    background-color: var(--background-color);
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
}
  

#link-top{
    position:fixed;
    padding: 0.5rem;
    bottom:1.5em;
    right:2em;
    width:3rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    border-radius: 20px;
    /* box-shadow: 5px 5px 10px #ffffff, -5px -5px 10px #ffffff; */
    background: white;
    opacity: 0.7;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #link-top:hover{
    opacity:1;
  }
  
  
  #triunghi {
    position: absolute;
    top: 36%;
    width: 25px;
    height: 25px;
    border-top: 6px solid black;
    border-left: 6px solid black;
    transform: rotate(45deg);
    z-index: 1;
}

  