* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff8324; /* Albastru principal */
    --secondary-color: #2A9D8F; /* O nuanță mai deschisă de albastru */
    --accent-color: #2f1905; /* Galben auriu pentru contrast */
    --background-color: #0d0e0e; /* Gri foarte deschis pentru fundal */
    --text-color: #ffffff; /* Gri închis pentru text */
}
/* test colors */

html {
    font-family: "Montserrat", Tahoma;
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
}

#link-top{
    position:fixed;
    padding: 0.5rem;
    bottom:1.5em;
    opacity:0.5;
    right:2em;
    width:3rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    border-radius: 20px;
    /* box-shadow: 5px 5px 10px #ffffff, -5px -5px 10px #ffffff; */
    background: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #link-top:hover{
    opacity:0.85;
  }
  
  #triunghi {
    position: absolute;
    top: 36%;
    width: 25px;
    height: 25px;
    border-top: 6px solid black;
    border-left: 6px solid black;
    transform: rotate(45deg);
}

  