@media (max-width: 400px) {
  html {
    font-size: 15px;
  }
  body {
    margin-top: 50%;
    margin-left: var(--margin-sides-small);
    margin-right: var(--margin-sides-small);
  }
  header {
    position: fixed !important;
    width: 98%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem !important;
  }
  header > .fa-solid {
    display: none;
  }
  header .cta {
    display: none;
  }
  header .home-icon {
    display: none !important;
  }
  .container {
    display: grid;
    height: auto;
    gap: 0.5rem;
    grid-template-rows: minmax(0.5fr, 1fr);
    grid-template-columns: auto;
    grid-template-areas: "zona1" "zona2" "zona3" "zona4" "zona5" "zona6" "zona7" "zona8";
  }
  .container > div {
    border-radius: 1em;
  }
  .container .zona1 {
    grid-area: zona1;
    overflow-x: auto;
  }
  .container .zona1 > img {
    width: 10%;
    height: auto;
  }
  .container .zona2 {
    grid-area: zona2;
  }
  .container .zona3 {
    grid-area: zona3;
  }
  .container .zona4 {
    grid-area: zona4;
  }
  .container .zona5 {
    grid-area: zona5;
  }
  .container .zona6 {
    grid-area: zona6;
  }
  .container .zona7 {
    grid-area: zona7;
  }
  .container .zona8 {
    grid-area: zona8;
  }
  .container .zona8 img {
    position: relative;
    width: 70%;
    height: auto;
    cursor: pointer;
    animation: none;
    transition: transform 0.3s ease;
  }
  .container .zona8 img:hover {
    transform: scale(1.25);
  }
  .hamburger {
    position: inline-block;
  }
  .hamburger > nav {
    position: fixed;
    background-color: #ffbf9c !important;
    border: 0.4rem solid #ff7878 !important;
    border-radius: 2.5rem;
    top: -100%;
    left: 1%;
    width: 98vw;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburger .nav_links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 60%;
    gap: 0.5rem;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }
  .hamburger .nav_links li .fa-house {
    display: none !important;
  }
  .hamburger .nav_links li a {
    font-size: 1.2rem !important;
    font-weight: bold;
  }
  .hamburger .nav_links li a:hover {
    color: #ff7878 !important;
    transition: color 0.3s ease;
  }
  .hamburger .nav_links li .dropdown-content {
    display: none !important;
  }
  .hamburger .nav_links li .dropdown-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #ffbf9c !important;
    border: 0.4rem solid #ff7878 !important;
    border-radius: 2rem;
    transform: scale(0);
    transform-origin: top;
    top: 27rem !important;
    left: 1%;
    width: 98vw;
    min-height: 5rem;
    transition-delay: 0.2s;
  }
  .hamburger .nav_links li .blog-hover:hover ~ .dropdown-blog {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
  .hamburger .nav_links li .dropdown-blog:hover {
    transform: scale(1);
  }
  .hamburger > input {
    display: block !important;
    z-index: 1000000;
    width: 3em;
    height: 0.5em;
    background-color: #292929 !important;
    border-radius: 7rem;
    appearance: none;
    transition: 0.3s ease-in;
    position: relative;
  }
  .hamburger > input::before,
  .hamburger > input::after {
    content: "";
    position: absolute;
    width: inherit;
    height: 0.5em;
    background-color: #292929 !important;
    border-radius: 7rem;
    transition: 0.3s ease-in;
  }
  .hamburger > input::before {
    top: -0.7em;
  }
  .hamburger > input::after {
    top: 0.7em;
  }
  .hamburger > input:checked ~ nav {
    top: 12rem;
  }
  .taburi-iframe a {
    right: 10%;
  }
  .container-iframe {
    scale: 60%;
  }
}

/*# sourceMappingURL=style400.css.map */
