:root {
  --primary-color: #ffbf9c !important; 
  --secondary-color: #ff7878 !important; 
  --accent-color: #ff6060 !important; 
  --background-color: #ffd1bc !important;  
  --text-color: #292929 !important;
}

@media (max-width:800px){
    
    html {
        font-size: 17px;
    }
    
    body{
        margin-left: var(--margin-sides-medium);
        margin-right: var(--margin-sides-medium);
    }
    
    header{
      justify-content: center;
      gap: 7%;
    }
    
    .container {
        display: grid;
        height: auto; /* Adjust height to fit content */
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(5vh,1fr));
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
            "zona1 zona1"
            "zona3 zona2"
            "zona3 zona4"
            "zona5 zona6"
            "zona7 zona6"
            "zona8 zona6";
    }
    
    .zona1 { grid-area: zona1; }
    .zona2 { grid-area: zona2; }
    .zona3 { grid-area: zona3; }
    .zona4 { grid-area: zona4; }
    .zona5 { grid-area: zona5; }
    .zona6 { grid-area: zona6; }
    .zona7 { grid-area: zona7; }
    .zona8 { 
      grid-area: zona8;
      p{  
        font-family: "Bebas Neue", "Montserrat", sans-serif;
        font-size: 2rem;
        font-weight: bolder;
      }
    }
    
    .nav_links{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: -100vh;
      right: 0;
      background-color: var(--background-color);
      z-index: 100;
      list-style: none;
    }
    
    .nav_links li{
      position: relative;
      top: -3%;
      padding-top: 100px;
    }
    
    .nav_links li a{
      color: var(--text-color);
      font-size: 30px;
    }
    
    .nav_links li a:hover{
      font-size: 45px; 
      color: var(--secondary-color);
    }
    
    .hamburger input:checked ~ nav .nav_links{
      top: 0;
    }
    
    .hamburger:hover > input{
      background-color: var(--secondary-color);
      scale: 120%;
      opacity: 0.5;
    }
    
    .hamburger{
        grid-area: "menu";
        cursor: pointer;
    }    
    
    .hamburger > input{
      display: block;
      appearance: none;
      padding: none;
      margin: none;
      outline: none;
      pointer-events: none;
      
      content: "";
      width: 100px;
      height: 10px;
      border-radius: 15px;
      background-color: var(--text-color);
      
      transition: 0.2s ease-in-out;
    }
   
    button{
        display: none;
    }
  
    .container-iframe {
      min-width: 60vw;
      scale: 70%;
    }
    
    .taburi-iframe a {
      right: 0%;  
    }
}