:root {
    --primary-color: #ffbf9c !important; 
    --secondary-color: #ff7878 !important; 
    --accent-color: #ff6060 !important; 
    --background-color: #ffd1bc !important;  
    --text-color: #292929 !important;
}

@media (max-width: 400px){
    html {
        font-size: 15px;
    }
    
    body{
        margin-left: var(--margin-sides-small);
        margin-right: var(--margin-sides-small);
    }
    
    header{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    header > .fa-solid{
        display: none;
    }
    
    .container {
        display: grid;
        height: auto;
        gap: 0.5rem;
        /* Adjust grid-template-columns and grid-template-areas */
        grid-template-rows: minmax(0.5fr,1fr);
        grid-template-columns: auto;
        grid-template-areas: 
            "zona1"
            "zona2"
            "zona3"
            "zona4"
            "zona5"
            "zona6"
            "zona7"
            "zona8"
        ;
    }
    
    .zona1 { grid-area: zona1; }
    .zona2 { grid-area: zona2; }
    .zona3 { grid-area: zona3; }
    .zona4 { grid-area: zona4; }
    .zona5 { grid-area: zona5; }
    .zona6 { grid-area: zona6; }
    .zona7 { grid-area: zona7; }
    .zona8 { grid-area: zona8; }

    .nav_links li a{
        transition:none;
    }
    
    .hamburger > input{
        transition: none;
    }
    
    .nav_links li a:hover{
        font-size: 30px; 
        color: var(--primary-color);
        transition: none;
    }
    
    .container-iframe {
        scale: 50%;
      }
}