@media (max-width: 400px){
    html {
        font-size: 15px;
    }
    
    body{
        margin-left: var(--margin-sides-small);
        margin-right: var(--margin-sides-small);
    }
    
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5%;
    }
    
    header{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    header > .fa-solid{
        display: none;
    }
    
    .container {
        display: grid;
        border: 5px solid rgb(255, 0, 238);
        gap: 1%;
        height: 100rem;
        /* Adjust grid-template-columns and grid-template-areas */
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "zona1"
            "zona2"
            "zona3"
            "zona4"
            "zona5"
            "zona6"
            "zona7"
            "zona8"
        ;
    }
    
    .zona1 { grid-area: zona1; }
    .zona2 { grid-area: zona2; }
    .zona3 { grid-area: zona3; }
    .zona4 { grid-area: zona4; }
    .zona5 { grid-area: zona5; }
    .zona6 { grid-area: zona6; }
    .zona7 { grid-area: zona7; }
    .zona8 { grid-area: zona8; }
}