// Color Variables
$primary-color:      #ffbf9c !important;
$secondary-color:    #ff7878 !important;
$accent-color:       #ff6060 !important;
$background-color:   #ffd1bc !important;
$text-color:         #292929 !important;

// Layout Variables
$bar-width: 60px;
$bar-height: 8px;

// Base Font Styles
body {
  li,
  a,
  button,
  p {
    font-family: "Montserrat", Tahoma;
    font-weight: 600;
    font-size: 20px;
    color: $text-color;
    text-decoration: none;
  }

  // Header Styles
  header {
    position: sticky;
    top: 1rem;
    z-index: 999999;
    background: $primary-color;
    border: 0.4rem solid $secondary-color;
    box-shadow: 0 0 3rem 1rem $secondary-color;
    border-radius: 2.5rem;
    margin-top: 1rem;

    padding: {
      top: 1rem;
      bottom: 1rem;
      left: 5%;
      right: 5%;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;

    // Logo
    .logo {
      filter: invert(1);
      margin-right: -1.5rem;
      cursor: pointer;
      display: block;
      max-width: 10rem;
      min-width: 7rem;
      transition: all 0.2s ease;

      &:hover {
        scale: 110%;
      }
    }

    // Hamburger Menu (Placeholder)
    .hamburger {
      input {
        display: none;
      }
    }

    // Navigation
    .nav_links {
      grid-area: menu;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      list-style: none;

      // Home Icon
      .home-icon {
        display: flex;
        flex-direction: row;
        gap: 1em;

        .fa-house {
          display: block; 
          cursor: pointer;
          scale: 150%;
          color: $text-color;
          transition: all 0.5s ease;
        }

        > p {
          color: $primary-color;
          font-weight: 700;
          transition: all 0.4s ease;
        }

        &:hover {
          .fa-house {
            color: $secondary-color;
          }

          > p {
            color: $secondary-color;
          }
        }
      }

      // Dropdown Menu
      .dropdown {
        position: relative;

        .dropdown-content {
          position: absolute;
          top: 100%;
          z-index: 200;
          padding: 1rem;
          border-radius: 0.5rem;
          background-color: $primary-color;
          border: 0.3rem solid $secondary-color;
          transform: scale(0);
          transform-origin: top;

          display: flex; 
          flex-direction: column;
          justify-content: center;
          align-items: center;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            width: 100%;
            text-align: center;
          }
        }

        &:hover .dropdown-content {
          transform: scale(1);
          transition: transform 0.3s ease-in-out;
        }
      }

      // Navigation Items
      li {
        display: inline-block;
        padding: 0.5rem 1rem 0.5rem;
        position: relative;

        a {
          color: $text-color;
          font-weight: 600;
          transition: all 0.2s ease;

          &:hover {
            color: $secondary-color;
            transition: all 0.35s ease;
          }
        }
      }
    }

    // Button
    button {
      grid-area: contact;
      padding: 1em 2em;
      color: $background-color;
      background-color: $text-color;
      border: none;
      border-radius: 50rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $secondary-color;
        scale: 110%;
        color: $background-color;
        transition: all 0.25s ease;
      }
    }

    // User Icon
    .fa-circle-user {
      grid-area: user;
      cursor: pointer;
      scale: 150%;
      color: $text-color;
      transition: all 0.25s ease;

      &:hover {
        scale: 170%;
        color: $secondary-color;
      }
    }
  }
}
