<!DOCTYPE html>
<html lang="ro" >
 <head>
    <!--Etapa: 1 /// Pas: 2-->
    <title>Blog</title>
    <%- include('../fragments/head.ejs') %>
    <link rel="stylesheet" href="../assets/style-css/blog.css">
 </head>
     <%- include('../fragments/header.ejs') %>
     <body>
        <main>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
            </div>
        <main>
     </body>
     <%- include('../fragments/footer.ejs') %>
</html>