<!DOCTYPE html>
<html lang="ro" >
 <head>
    <!--Etapa: 1 /// Pas: 2-->
    <title>Blog</title>
    <%- include('../fragments/head.ejs') %>
    <link rel="stylesheet" href="../assets/style-css/blog.css">
 </head>
     <%- include('../fragments/header.ejs') %>
     <body>
        <main>
            <div class="text">
                <div class="ref">
                  Articole
                  <div class="reflectat">Articole</div>
                </div>
                <p>Lorem ipsum dolor sit <a class='underline' href='http:xdhhh'>LINK</a> elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nemo blanditiis sed odit quisquam quas velit id dicta nostrum placeat, tempora qui ea commodi. Provident illum cupiditate corrupti aliquid minima?</p>
            </div>
            <div class="miscare_orizontala">
              <div class="miscare_content">
                <span>Promotie 20 Iunie, 30% reducere la orice produs de pe site!</span>
                <span>Articole noi in fiecare zi!</span>
                <span>Promotie 20 Iunie, 30% reducere la orice produs de pe site!</span>
                <span>Articole noi in fiecare zi!</span>
              </div>
            </div>
        <main>
     </body>
     <%- include('../fragments/footer.ejs') %>
</html>