<!DOCTYPE html>
<html lang="ro" >
 <head>
    <!--Etapa: 1 /// Pas: 2-->
    <title>Galerie</title>
    <%- include('../fragments/head.ejs') %>
    <link rel="stylesheet" href="../assets/style-css/blog.css">
 </head>
     <%- include('../fragments/header.ejs') %>
     <body>
        <main>
             <%- include('../fragments/galerie_fragment.ejs') %>
        <main>
     </body>
     <%- include('../fragments/footer.ejs') %>
</html>