<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>Galerie Foto</title>
    <%- include('../fragments/head.ejs') %>

  </head>
  <body>
    <%- include('../fragments/header.ejs') %>
    <main>
      <h2 class="galerie-title">Galerie Foto</h2>
      <%- include("../fragments/galerie.ejs", {galerie: galerie}) %>
    </main>
    <%- include('../fragments/footer.ejs') %>
  </body>
</html> 