<!DOCTYPE html>
<html lang="ro" >
 <head>
    <!--Etapa: 1 /// Pas: 2-->
    <title>Prima pagina</title>
    <%- include('../fragments/head.ejs') %>
 </head>
 
 <body>
    <%- include('../fragments/header.ejs') %>
    <main>
        <div class="custom-container">
            <div class="zona1">
                <img src="../assets/Jordan/tv-transp.png" alt="Store-Wall" class="PromoBig">
            </div>
            <div class="zona2">
                <table>
                    <caption>Top 3 cei mai vânduți adidași din magazin</caption>
                    <thead>
                        <tr>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Preț (RON)</th>
                            <th>Număr vândut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2">Nike</td>
                            <td>Air Max 90</td>
                            <td>650</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>Air Force 1</td>
                            <td>550</td>
                            <td>900</td>
                        </tr>
                        <tr>
                            <td>Adidas</td>
                            <td>UltraBoost</td>
                            <td>700</td>
                            <td>1100</td>
                        </tr>
                        <tr>
                            <td>Puma</td>
                            <td colspan="2">RS-X</td>
                            <td>800</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total perechi vândute</td>
                            <td>4000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="zona3">
                <div class="duotone"></div>
            </div>
            <div class="zona4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quidem non molestias similique, suscipit eum nostrum ducimus cum recusandae tempore placeat reprehenderit ratione cumque, quisquam aliquid expedita deleniti voluptatem vel.</div>
            <div class="zona5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quidem non molestias similique, suscipit eum nostrum ducimus cum recusandae tempore placeat reprehenderit ratione cumque, quisquam aliquid expedita deleniti voluptatem vel.</div>
            <div class="zona6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quidem non molestias similique, suscipit eum nostrum ducimus cum recusandae tempore placeat reprehenderit ratione cumque, quisquam aliquid expedita deleniti voluptatem vel.</div>
            <div class="zona7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quidem non molestias similique, suscipit eum nostrum ducimus cum recusandae tempore placeat reprehenderit ratione cumque, quisquam aliquid expedita deleniti voluptatem vel.</div>
            <div class="zona8">
                <p>Hottest pair</p>
                <img src="../assets/Jordan/karsten-winegeart--GRPBoVcY4w-unsplash.png">
            </div>
        </div>
    
        <div class="container-iframe">  
            <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/_VPEdNFttPU" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            <div class="taburi-iframe">
                <a href="https://www.youtube.com/watch?v=w7_Mzyfvr-0" target="ifr-video">Design Language with James Harden</a>
                <a href="https://www.youtube.com/watch?v=4pkcT_Szo-M" target="ifr-video" >Educating Through Football</a>
                <a href="https://www.youtube.com/watch?v=6j2_YKkXRjg" target="ifr-video" >The Desert Runner</a>
            </div>      
        </div>
    <div class="video-wrapper">
        <video 
            controls 
            poster="../assets/Nike/vid/thumbnail.jpg" 
            preload="auto"
          >
            <source src="../assets/Nike/vid/video.webm" type="video/webm">
            <source src="../assets/Nike/vid/video.mp4" type="video/mp4">
            
            <track 
              kind="subtitles" 
              srclang="ro" 
              label="Română" 
              src="../assets/Nike/vid/sub/subtitles-ro.vtt" 
              default
            >
            <track 
              kind="subtitles" 
              srclang="en" 
              label="English" 
              src="../assets/Nike/vid/sub/subtitles-en.vtt"
            >
            
            Browserul nu suportă elementul video.
        </video>      
    </div>
    
     <div class="theme-noapte p-4">
      <button type="button" class="btn btn-primary">Buton Noapte</button>
    </div>


    
    </main>
    <%- include('../fragments/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
 </body>
</html>