<!DOCTYPE html>
<html lang="ro" >
 <head>
    <!--Etapa: 1 /// Pas: 2-->
    <title>Blog</title>
    <%- include('../fragments/head.ejs') %>
 </head>
     <%- include('../fragments/header.ejs') %>
     <body>
        <main>
            
        <main>
     </body>
     <%- include('../fragments/footer.ejs') %>
</html>