<header>
    <h1>Numele Site-ului Tău</h1>
    <nav>
        <ul>
            <li><a href="/">Acasă</a></li>
                <!-- TODO -->
             <li><a href="/despre">Despre</a></li>
        </ul>
    </nav>
</header>
